<header id="header" class="clearfix" role="banner">
    <div id="header-top" class="clearfix">
        <center>
            <img src="/images/TopBanner.jpg" alt="Randall Library">
        </center>
    </div>
</header>

<div>
	<h2>Carousels root</h5>
	<p>Oops.  You were probably looking for a different page.<br><br>No harm in dropping by.<br>But, you might enjoy one of these pages more.</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3">/new-books</div>
		<div class="col-sm-3"><a href="/new-books">New Books carousel</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/new-titles</div>
		<div class="col-sm-3"><a href="/new-titles">New Titles carousel</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/popular-titles</div>
		<div class="col-sm-3"><a href="/popular-titles">Popular Titles carousel</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/readbox</div>
		<div class="col-sm-3"><a href="/readbox">Readbox</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/uncw-authors</div>
		<div class="col-sm-3"><a href="/uncw-authors">UNCW Authors carousel</a></div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm-3">/new-books-json</div>
		<div class="col-sm-3"><a href="/new-books-json">New Books carousel json</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/new-titles-json</div>
		<div class="col-sm-3"><a href="/new-titles-json">New Titles carousel json</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/popular-titles-json</div>
		<div class="col-sm-3"><a href="/popular-titles-json">Popular Titles carousel json</a></div>
	</div>
	<div class="row">
		<div class="col-sm-3">/uncw-authors-json</div>
		<div class="col-sm-3"><a href="/uncw-authors-json">UNCW Authors carousel json</a></div>
	</div>
</div>
