{{!-- randall banner header --}}
<header id="authors-header" class="clearfix" role="banner">
  <div id="header-top" class="clearfix">
    <center>
      <img src="/images/banner_randall.jpg" alt="Randall Library">
    </center>
  </div>
</header>

{{!-- load the carousels & pop-up modal portion of the layout --}}
{{> carouselPartial }}
{{> modalPartial }}


<!-- randall rotations imagebox -->
<div style="text-align:center;">
  <iframe src="https://randall-rotations.libapps-staff.uncw.edu/CircDesk/rotation" width="740px" height="1300px" style="border:none;" scrolling="no"></iframe>
</div>
